body {
  border: dashed;
  padding: 15px;
  margin-left: 10%;
  margin-right: 10%;
}

h2 {
  text-align: center;
}

input {
    max-width: 100px;
}

.tip-box,
.total-box {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.total-box {
    justify-content: center;
}

#tip,
#total {
  font-weight: 900;
  margin: 5px;
}

#total {
    font-size: larger;
}

button {
  background-color: rgb(114, 44, 172);
  color: white;
  padding: 5px;
}
