body {
    border: dashed;
    padding: 15px;
}

.tip-box,
.total-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

#tip,
#total {
    font-weight: 900;
    margin: 5px;
}

button {
  background-color: rgb(114, 44, 172);
  color: white;
  padding: 5px;
}
